body {
  background-color: rgba(54, 162, 235, 0.2);
}

#form {
  margin: auto;
  text-align:center;
}

.hidden {
  display:none;
}


.mdl-card {
  margin:auto;
  margin-top:10px;
  width:750px;
}

.centered {
  padding-left:0;
  padding-right:0;
  margin:50px auto;
  display:block;
}

.mdl-switch {
  margin-left:15px;
  margin-top:15px;
}

table {
  margin:auto;
  margin-top:50px;
}

.mdl-layout__tab {
  text-decoration:none;
}
.mdl-layout__tab:hover{
  text-decoration: none;
}

.mdl-layout__tab:selected{
  text-decoration: none;
}

.data-table-radio {
  text-align:center;
  padding-top:20px;
  margin-top:20px;
  margin:auto;
}

.switch-variables{
  margin-left: 15px;
  margin-top:15px;
}
