body {
  background-color: rgba(54, 162, 235, 0.2);
}

#form {
  margin: auto;
  text-align:center;
}

.hidden {
  display:none;
}


.mdl-card {
  margin:auto;
  margin-top:10px;
  width:500px;
}

.centered {
  padding-left:0;
  padding-right:0;
  margin:50px auto;
  display:block;
}

.mdl-switch {
  margin-left:15px;
  margin-top:15px;
}
